// Colors
$primary-color: #3498db;
$hover-color: #16a085;
$background-color: #0b0b0b;
$text-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.6);
$navbar-bg-color: #1c1c1c;
$heart-color: #ff4081;
$dark-gray: #1a1a1a;

// Fonts
$primary-font: "Montserrat", sans-serif;

// Breakpoints
$breakpoint-large: 900px;
$breakpoint-medium: 768px;
$breakpoint-small: 600px;
